1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=5
print(a)

5

2. Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [4]:
b = 'Abel Ecio'

5) Crear una variable que contenga un número complejo

In [5]:
c = 4+3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
d = 'True'
e = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [12]:
print('La variable d es de tipo: ', type(d))
print('La variable e es de tipo: ', type(e))

La variable d es de tipo:  <class 'str'>
La variable e es de tipo:  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [13]:
z = 5 + 3.14

11) Realizar una operación de suma de números complejos

In [15]:
x = 3+2j
y = 1+3j
print(x+y)

(4+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [16]:
print(2+2+3j)

(4+3j)

13) Realizar una operación de multiplicación

In [17]:
print(3*5)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [20]:
a = 27/4
print(a)

6

16) De la división anterior solamente mostrar la parte entera

In [23]:
b = 27//4
print(b)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [22]:
a = 27%4
print(a)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
print(b*4+a)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
var1 = 'anita'
var2 = 'uni'
print (var1 + ' ' +var2)

anita uni

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
2 == 2

True

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
2 == int ('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
a=float('3.8') ##debido a que debe ser punto no coma##
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [31]:
a = 3
a -=5
print(a)

-2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
1<<3

8

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
## no se puede sumar enteros con cadenas o strings. Además si los dos son del mismo tipo
##de dato no simepre da el mismo resultado.

26) Realizar una operación válida entre valores de tipo entero y string

In [33]:
a = 5
b = 'pepito tiene'
print(b + ' ' + str(a) + ' de nota ')

pepito tiene 5 de nota